main{
	color: red;
}

body{
	border: 1px solid blue;
	width: 50em;
}
div{
	box-sizing: border-box;
	width: 600;
	height: 200;
	padding: 50px solid red;
}
h4{
	font-weight: 600;
}
head{
	font-size: 300px
}
h5{
	font-weight: 700;
}
